<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
              <div id="map"></div>
        </div>
        <div class="col-md-9">

            <div class="card">
              <img class="card-img-top" src="<%= campground.image ? campground.image : '/images/missing-image.jpg' %>" alt="Card image cap">
              <div class="card-body">
                <p class="h4 float-right">$<%= campground.price %>/night</p>

                <h4 class="card-title mb-0"><%= campground.name %></h4>
                <p><small><em>Submitted by <%= campground.author.username %></em></small></p>

                <p>
                    <%= campground.description %>
                </p>
                <% if(currentUser && campground.author.id && campground.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post" id="delete-form">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>

              </div>
            </div>

            <div class="card bg-light mt-3 mb-3">
              <div class="card-body">
                <div class="text-right mb-3">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                  <div class="list-group">
                <%
                    campground.comments.forEach(function(comment, index, comments) { %>
                      <div class="list-group-item">
                        <strong><%= comment.author.username %></strong>
                        <span>10 days ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-sm btn-warning"
                            href="/campgrounds/<%= campground._id + "/comments/" + comment._id %>/edit">
                            Edit
                        </a>
                        <form class="comment-delete-form" action="/campgrounds/<%= campground._id + "/comments/" + comment._id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                <%    }) %>
                </div>
                </div>
            </div>

        </div>
    </div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-Yq4r4ZSzYpTEr-9d-Oh1qHNrdTgEJSw&callback=initMap"></script>
<% include ../partials/footer %>
